<div class="history">
	<div class="cd-timeline-header">
		<h2 id="Experenice">Experience</h2>
		<hr class="bar"/>
	</div>
	<section id="cd-timeline" class="cd-container">
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				<img src="../assets/img/college.svg" alt="Picture"/>
			</div>
			<!-- cd-timeline-img-->
			<div class="cd-timeline-content">
				<h2 class="story-heading">大学本科</h2>
				<P>
					中北大学 物联网工程 Android实验室
				</P> 
				<span class="cd-date">2013-2017</span>
			</div>
			<!-- cd-timeline-content-->
			<!-- cd-timeline-block-->
		</div>
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-movie">
				<img src="../assets/img/idea14.svg" alt="College"/>
			</div>
			<!-- cd-timeline-img-->
			<div class="cd-timeline-content">
				<h2>荣誉奖项</h2>
				<p>
					蓝桥杯 c/c++全国三等奖</br>
					“甲骨文杯”全国 java 程序设计大赛华北赛区一等奖</br>
					CMAIT 全国大学生移动应用创新大赛全国 60 强</br>
					2015 华北五省全国计算机应用大赛全国一等奖</br>
					2014 华北五省全国计算机应用大赛全国三等奖</br>
					通过 CCF 认证为合格程序员
				</p>
				<span class="cd-date">2014-2015</span>
			</div>
			<!-- cd-timeline-content-->
			<!-- cd-timeline-block-->
		</div>
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				<img src="../assets/img/web-programming.svg" alt="Picture"/>
			</div>
			<!-- cd-timeline-img-->
			<div class="cd-timeline-content">
				<h2>技能栏</h2>
				<p>
					熟悉：
					java&nbsp;&nbsp;
					android</br>
					玩过：
					j2ee&nbsp;&nbsp;
					linux&nbsp;&nbsp;
					c++&nbsp;&nbsp;
					前端&nbsp;&nbsp;
					机器学习
				</p>
				<span class="cd-date">2013-2016</span>
			</div>
			<!-- cd-timeline-content-->
			<!-- cd-timeline-block-->
		</div>
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-location">
				<img src="../assets/img/graduate38.svg" alt="Location"/>
			</div>
			<!-- cd-timeline-img-->
			<div class="cd-timeline-content">
				<h2>话题</h2>
				<p>
					历史&nbsp;&nbsp; 新兴技术&nbsp;&nbsp; 机器学习&nbsp;&nbsp; 游戏&nbsp;&nbsp; 创业&nbsp;&nbsp; 未来&nbsp;&nbsp;改变世界
				</p>
				<span class="cd-date">0——∞</span>
			</div>
			<!-- cd-timeline-content-->
			<!-- cd-timeline-block-->
		</div>
		<div class="cd-timeline-block">
			<!-- <div class="cd-timeline-img cd-location">
				<img src="../assets/img/hosting.svg" alt="Location"/>
			</div> -->
			<!-- cd-timeline-img-->
			<!-- <div class="cd-timeline-content">
				<h2>Integration Engineer with Example</h2>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget libero vel turpis eleifend convallis vel vitae est. Suspendisse mattis ut nulla dapibus ultricies. Suspendisse feugiat felis mi, sit amet pharetra massa volutpat sit amet. Morbi gravida, libero sit amet lacinia tristique.
				</p>
				<span class="cd-date">May 2015 - Current</span>
			</div> -->
			<!-- cd-timeline-content-->
			<!-- cd-timeline-block-->
			<div class="cd-timeline-block">
				<div class="cd-timeline-img cd-location">
					<img src="../assets/img/question30.svg" alt="Location"/>
				</div>
			</div>
			<!-- cd-timeline-->
		</div>
	</section>
	<div class="cd-timeline-header">
		<h2></h2>
	</div>
</div>